# Python
__pycache__/
*.pyc
*.pyo

# Database
backend/electoral.db
backend/electoral.db-wal
backend/electoral.db-shm

# ML files (large — friend has these locally)
backend/weights/
backend/embeddings.pkl
backend/embeddings.json
backend/known_embeddings.json
backend/*_embeddings.json
backend/*_embeddings_meta.json
backend/database/Rawimage/
backend/database/preprocessed_faces/
backend/yolov5/

# Uploaded files
backend/voter_photos/
backend/static/intruder_captures/
backend/cropped_faces/

# Node
electroal-system/node_modules/
electroal-system/build/

# Environment
.env
